* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
}

.square {
  background: #1d1d1d;
  height: 16px;
  width: 16px;
  margin: 2px;
  transition: 1.5s cubic-bezier(0.75, -0.33, 0.32, 1.37);
  box-shadow: 0 0 2px #000;
}

.square:hover {
  transition-duration: 0s;
}
